<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>xxxxxxxxxxxx-1pm1tg2176i3b8r9dn10akffcpknqmt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.xxxxxxxxxxxx-1pm1tg2176i3b8r9dn10akffcpknqmt6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>xxxxxxxxxxxx-aes7i93i545nisjndnhbl71hh9e2gsm9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>xxxxxxxxxxxx-xxxxxxxxxxxx</string>
	<key>GCM_SENDER_ID</key>
	<string>xxxxxxxxxxxx</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterOtpModule</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebasedemo-9577a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebasedemo-9577a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:xxxxxxxxxxxx:ios:22d07016bff16e364b0005</string>
	<key>DATABASE_URL</key>
	<string>https://flutterfirebasedemo-9577a.firebaseio.com</string>
</dict>
</plist>
